.ia-empty-image-contianer {
  max-width: 340px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 150px auto 0 auto;
}

.ia-empty-image-title {
  color: var(--text-strong);
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  margin: 16px 0 8px;
}

.ia-empty-image-message {
  color: var(--text-default);
  margin-bottom: 16px;
  text-align: center;
}
