/* .ia-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--ia-brand);
    color: #FFFFFF;
    border-radius: 3px;
    padding: 4px 8px;
    transition: background-color 0.17s ease, color 0.17s ease, opacity 250ms ease;
}

.ia-button:hover {
    background-color: var(--ia-brand-hover);
}

.ia-button:active {
    background-color: var(--ia-brand-active);
}

.ia-button.ia-button-success {
    background-color: #43B581;
}

.ia-button.ia-button-success:hover {
    background-color: #3CA374;
}

.ia-button.ia-button-success:active {
    background-color: #369167;
}

.ia-button.ia-button-warning {
    background-color: #FAA61A;
}

.ia-button.ia-button-warning:hover {
    background-color: #E19517;
}

.ia-button.ia-button-warning:active {
    background-color: #C88515;
}

.ia-button.ia-button-danger {
    background-color: #F04747;
}

.ia-button.ia-button-danger:hover {
    background-color: #D84040;
}

.ia-button.ia-button-danger:active {
    background-color: #C03939;
}

.ia-button-disabled {
    opacity: 0.4;
}

.ia-button-disabled:hover {
    cursor: not-allowed;
} */

/* Generic Button Styles */
.ia-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background: none;
    border: none;
    border-radius: var(--radius-sm);
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    padding: 2px 16px;
    -webkit-user-select: none;
}

.ia-button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.ia-button .ia-button-content {
    --button--underline-color: transparent;
    background-image: linear-gradient(0deg, transparent, transparent 1px, var(--button--underline-color) 0, var(--button--underline-color) 2px, transparent 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.ia-button:disabled .ia-button-content {
    background-image: none !important;
}

.ia-button-outlined:disabled {
    background-color: transparent !important;
}



/* Button Sizes */
.ia-button-tiny {
    width: 52px;
    height: 24px;
    min-width: 52px;
    min-height: 24px;
}

.ia-button-small {
    width: 60px;
    height: 32px;
    min-width: 60px;
    min-height: 32px;
}

.ia-button-medium {
    width: 96px;
    height: 38px;
    min-width: 96px;
    min-height: 38px;
}

.ia-button-large {
    width: 130px;
    height: 44px;
    min-width: 130px;
    min-height: 44px;
}

.ia-button-xlarge {
    width: 148px;
    height: 50px;
    min-width: 148px;
    min-height: 50px;
    font-size: 16px;
    line-height: normal;
    padding: 2px 20px;
}

.ia-button-icon {
    height: auto;
    padding: 4px;
}

.ia-button-grow,
.ia-button-icon {
    width: auto
}



/* Button Looks */
.ia-button-filled {
    -webkit-transition: background-color .17s ease, color .17s ease;
    transition: background-color .17s ease, color .17s ease
}

.ia-button-outlined {
    -webkit-transition: color .17s ease, background-color .17s ease, border-color .17s ease;
    transition: color .17s ease, background-color .17s ease, border-color .17s ease;
    border-width: 1px;
    border-style: solid
}

.ia-button-blank {
    background: transparent;
    color: currentColor;
    border: 0;
    /* padding: 0; */
    margin: 0
}

.ia-button-filled .ia-button-content,
.ia-button-link .ia-button-content,
.ia-button-outlined .ia-button-content {
    margin: 0 auto;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}


/* COLORS */

/* Color ia Brand */
.ia-button-filled.ia-button-color-brand {
    color: var(--white-500);
    background-color: var(--ia-brand); /* ia Blue */
}

.ia-button-filled.ia-button-color-brand:hover {
    background-color: var(--ia-brand-hover);
}

.ia-button-filled.ia-button-color-brand:active {
    background-color: var(--ia-brand-active);
}

.ia-button-filled.ia-button-color-brand:disabled {
    background-color: var(--ia-brand); /* ia Blue */
    opacity: 0.4;
}

.ia-button-outlined.ia-button-color-brand {
    color: var(--control-secondary-text-default);
    border-color: var(--control-secondary-border-default);
}

.ia-button-outlined.ia-button-color-brand:hover {
    background-color: var(--button-outline-brand-background-hover);
    border-color: var(--control-secondary-border-hover);
    color: var(--control-secondary-text-hover);
}

.ia-button-outlined.ia-button-color-brand:active {
    background-color: var(--control-secondary-background-active);
    border-color: var(--button-outline-brand-border-active);
    color: var(--control-secondary-text-active);
}

.ia-button-link.ia-button-color-brand {
    color: var(--ia-brand); /* ia Blue */
}

.ia-button-link.ia-button-color-brand:hover .ia-button-content {
    --button--underline-color: var(--ia-brand); /* ia Blue */
}



/* Color Blurple */
.ia-button-filled.ia-button-color-blurple {
    color: var(--white-500);
    background-color: var(--brand-experiment)
}

.ia-button-filled.ia-button-color-blurple:hover {
    background-color: var(--brand-experiment-560)
}

.ia-button-filled.ia-button-color-blurple:active {
    background-color: var(--brand-experiment-600)
}

.ia-button-filled.ia-button-color-blurple:disabled {
    background-color: var(--brand-experiment)
}

.ia-button-outlined.ia-button-color-blurple {
    color: var(--control-secondary-text-default);
    border-color: var(--control-secondary-border-default)
}

.ia-button-outlined.ia-button-color-blurple:hover {
    background-color: var(--button-outline-brand-background-hover);
    border-color: var(--control-secondary-border-hover);
    color: var(--control-secondary-text-hover)
}

.ia-button-outlined.ia-button-color-blurple:active {
    background-color: var(--control-secondary-background-active);
    border-color: var(--button-outline-brand-border-active);
    color: var(--control-secondary-text-active)
}

.ia-button-link.ia-button-color-blurple {
    color: var(--brand-experiment)
}

.ia-button-link.ia-button-color-blurple:hover .ia-button-content {
    --button--underline-color: var(--brand-experiment)
}



/* Color Yellow/Warn */
.ia-button-filled.ia-button-color-yellow {
    color: var(--white-500);
    background-color: var(--status-warning)
}

.ia-button-filled.ia-button-color-yellow:active,
.ia-button-filled.ia-button-color-yellow:hover {
    background-color: null;
}

.ia-button-filled.ia-button-color-yellow:disabled {
    background-color: var(--status-warning)
}

.ia-button-outlined.ia-button-color-yellow {
    color: var(--status-warning);
    border-color: var(--status-warning)
}

.ia-button-outlined.ia-button-color-yellow:active {
    background-color: hsl(var(--yellow-300-hsl)/.1)
}

.ia-button-link.ia-button-color-yellow {
    color: var(--status-warning)
}

.ia-button-link.ia-button-color-yellow:hover .ia-button-content {
    --button--underline-color: var(--status-warning)
}



/* Color Link */
.ia-button-filled.ia-button-color-link {
    color: var(--white-500);
    background-color: var(--text-link)
}

.ia-button-filled.ia-button-color-link:active,
.ia-button-filled.ia-button-color-link:hover {
    background-color: null
}

.ia-button-filled.ia-button-color-link:disabled {
    background-color: var(--text-link)
}

.ia-button-outlined.ia-button-color-link {
    color: var(--text-link);
    border-color: var(--text-link)
}

.ia-button-outlined.ia-button-color-link:active {
    background-color: hsl(var(--text-link-hsl)/.1)
}

.ia-button-link.ia-button-color-link {
    color: var(--text-link)
}

.ia-button-link.ia-button-color-link:hover .ia-button-content {
    --button--underline-color: var(--text-link)
}



/* Color White */
.ia-button-filled.ia-button-color-white {
    color: var(--primary-500);
    background-color: var(--white-500)
}

.ia-button-filled.ia-button-color-white:active,
.ia-button-filled.ia-button-color-white:hover {
    background-color: null
}

.ia-button-filled.ia-button-color-white:disabled {
    background-color: var(--white-500)
}

.ia-button-outlined.ia-button-color-white {
    color: var(--white-500);
    border-color: var(--white-500)
}

.ia-button-outlined.ia-button-color-white:active {
    background-color: hsl(var(--white-500-hsl)/.1)
}

.ia-button-link.ia-button-color-white {
    color: var(--white-500)
}

.ia-button-link.ia-button-color-white:hover .ia-button-content {
    --button--underline-color: var(--white-500)
}



/* Color Red/Danger/Error */
.ia-button-filled.ia-button-color-red {
    color: var(--white-500);
    background-color: var(--control-critical-primary-background-default)
}

.ia-button-filled.ia-button-color-red:hover {
    background-color: var(--control-critical-primary-background-hover)
}

.ia-button-filled.ia-button-color-red:active {
    background-color: var(--control-critical-primary-background-active)
}

.ia-button-outlined.ia-button-color-red {
    color: var(--control-critical-secondary-text-default);
    border-color: var(--control-critical-secondary-border-default)
}

.ia-button-outlined.ia-button-color-red:hover {
    background-color: var(--control-critical-secondary-border-hover);
    border-color: var(--control-critical-secondary-border-hover);
    color: var(--control-critical-secondary-border-hover)
}

.ia-button-outlined.ia-button-color-red:active {
    background-color: var(--control-critical-secondary-background-active);
    border-color: var(--control-critical-secondary-border-active);
    color: var(--control-critical-secondary-text-active)
}

.ia-button-link.ia-button-color-red {
    color: var(--text-danger)
}

.ia-button-link.ia-button-color-red:hover .ia-button-content {
    --button--underline-color: var(--text-danger)
}


/* Color Green Success */
.ia-button-filled.ia-button-color-green {
    color: var(--white-500);
    background-color: var(--control-connect-background-default)
}

.ia-button-filled.ia-button-color-green:hover {
    background-color: var(--control-connect-background-hover)
}

.ia-button-filled.ia-button-color-green:active {
    background-color: var(--control-connect-background-active)
}

.ia-button-outlined.ia-button-color-green {
    color: var(--control-primary-text-default);
    border-color: var(--control-connect-border-default)
}

.ia-button-outlined.ia-button-color-green:hover {
    background-color: var(--control-connect-background-hover);
    border-color: var(--control-connect-border-hover);
    color: var(--control-primary-text-hover)
}

.ia-button-outlined.ia-button-color-green:active {
    background-color: var(--control-connect-background-active);
    border-color: var(--control-connect-border-active);
    color: var(--control-primary-text-active)
}

.ia-button-link.ia-button-color-green {
    color: var(--green-360)
}

.ia-button-link.ia-button-color-green:hover .ia-button-content {
    --button--underline-color: var(--green-360)
}



/* Color Primary/Grey */
.ia-button-outlined.ia-button-color-primary {
    color: var(--button-outline-primary-text);
    border-color: var(--control-secondary-border-default)
}

.ia-button-outlined.ia-button-color-primary:hover {
    background-color: var(--control-secondary-background-hover);
    border-color: var(--control-secondary-border-hover);
    color: var(--control-secondary-text-hover)
}

.ia-button-outlined.ia-button-color-primary:active {
    background-color: var(--control-secondary-background-active);
    border-color: var(--control-secondary-border-active);
    color: var(--control-secondary-text-active)
}

.ia-button-filled.ia-button-color-primary {
    color: var(--text-default);
    background-color: var(--control-secondary-background-default)
}

.ia-button-filled.ia-button-color-primary:hover {
    background-color: var(--control-secondary-background-hover)
}

.ia-button-filled.ia-button-color-primary:active {
    background-color: var(--control-secondary-background-active)
}

.theme-dark .ia-button-link.ia-button-color-primary {
    color: var(--white-500)
}

.theme-dark .ia-button-link.ia-button-color-primary:hover .ia-button-content {
    --button--underline-color: var(--white-500)
}

.theme-light .ia-button-link.ia-button-color-primary {
    color: var(--primary-400)
}

.theme-light .ia-button-link.ia-button-color-primary:hover .ia-button-content {
    --button--underline-color: var(--primary-400)
}



/* Color Transparent */
.theme-dark .ia-button-filled.ia-button-color-transparent {
    color: var(--primary-100);
    background-color: hsl(var(--white-500-hsl)/.1)
}

.theme-dark .ia-button-filled.ia-button-color-transparent:hover {
    background-color: hsl(var(--white-500-hsl)/.05)
}

.theme-dark .ia-button-filled.ia-button-color-transparent:active {
    background-color: hsl(var(--white-500-hsl)/.01)
}

.theme-dark .ia-button-filled.ia-button-color-transparent:disabled {
    background-color: hsl(var(--white-500-hsl)/.1)
}

.theme-dark .ia-button-outlined.ia-button-color-transparent {
    color: var(--primary-200);
    border-color: var(--primary-200)
}

.theme-dark .ia-button-outlined.ia-button-color-transparent:active {
    background-color: hsl(var(--primary-200-hsl)/.1)
}

.theme-dark .ia-button-link.ia-button-color-transparent {
    color: var(--primary-200)
}

.theme-dark .ia-button-link.ia-button-color-transparent:hover .ia-button-content {
    --button--underline-color: var(--primary-200)
}

.theme-light .ia-button-filled.ia-button-color-transparent {
    color: var(--primary-400);
    background-color: hsl(var(--primary-400-hsl)/.01)
}

.theme-light .ia-button-filled.ia-button-color-transparent:hover {
    background-color: hsl(var(--primary-400-hsl)/.2)
}

.theme-light .ia-button-filled.ia-button-color-transparent:active {
    background-color: hsl(var(--primary-400-hsl)/.25)
}

.theme-light .ia-button-filled.ia-button-color-transparent:disabled {
    background-color: hsl(var(--primary-400-hsl)/.01)
}

.theme-light .ia-button-outlined.ia-button-color-transparent {
    color: var(--primary-400);
    border-color: var(--primary-400)
}

.theme-light .ia-button-outlined.ia-button-color-transparent:active {
    background-color: hsl(var(--primary-400-hsl)/.1)
}

.theme-light .ia-button-link.ia-button-color-transparent {
    color: var(--primary-400)
}

.theme-light .ia-button-link.ia-button-color-transparent:hover .ia-button-content {
    --button--underline-color: var(--primary-400)
}
