.theme-dark .ia-social-logo path {
  fill: #adadad;
}

.theme-light .ia-social-logo path {
  fill: #b9bbbe;
}

.ia-social-link:hover .ia-social-logo {
  opacity: 1;
}

.ia-social-link:hover .ia-social-logo path:first-of-type {
  fill: var(--ia-brand);
}

.ia-button-title {
  margin-left: 10px;
}

.ia-select-wrapper {
  color: var(--text-default);
  font-size: 13px;
  display: flex;
  align-items: center;
}

.ia-select-wrapper + .ia-select-wrapper {
  margin-left: 10px;
}

.ia-select-wrapper label {
  margin-right: 5px;
}

.ia-select {
  position: relative;
  cursor: pointer;
  color: var(--interactive-text-default);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--input-background-default);
  border: 1px solid var(--input-border-default);
  border-radius: var(--radius-sm);
  padding: 8px 12px;
  transition: 150ms ease border-color;
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ia-select.ia-select-disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.ia-select:hover,
.ia-select.menu-open {
  border-color: var(--input-border-default);
}

.ia-select.ia-select-transparent {
  align-items: flex-start;
  background: none;
  border: none;
  padding: 0;
}

.ia-select-transparent .ia-select-value {
  padding-left: 8px;
}

.ia-select-arrow {
  margin-left: 10px;
  color: var(--interactive-text-default);
}

.ia-select .ia-select-options {
  position: absolute;
  background: var(--background-surface-higher);
  color: var(--text-default);
  border-radius: var(--radius-sm);
  max-height: 300px;
  min-width: calc(100% + 2px);
  overflow-y: auto;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 5px 0;
  border: 1px solid var(--input-border-default);
  margin-top: 8px;
  margin-left: -12px;
  z-index: 2;
  top: 100%;
}

.ia-select-transparent .ia-select-options {
  margin-left: -6px;
}

.ia-select .ia-select-option {
  padding: 8px 12px;
  cursor: pointer;
  white-space: pre;
}

.ia-select .ia-select-option:hover {
  background: var(--interactive-background-hover);
  color: var(--interactive-text-hover);
}

.ia-select .ia-select-option.selected {
  background: var(--interactive-background-selected);
  color: var(--interactive-text-active);
}

.ia-setting-item .ia-select {
  min-width: 200px;
}

.ia-setting-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.ia-setting-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ia-setting-header label {
  font-weight: 500;
  /* cursor: pointer; */
  overflow: hidden;
  word-wrap: break-word;
  font-size: 16px;
  line-height: 24px;
  color: var(--text-strong);
}

.ia-setting-note {
  color: var(--text-default);
  margin-top: 4px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.ia-setting-item:not(.inline) .ia-setting-note {
  margin-bottom: 10px;
}

.ia-divider.ia-setting-divider {
  margin-top: 20px;
}

.ia-settings-contianer {
  height: auto;
  overflow: hidden;
  transition: height 300ms cubic-bezier(0.47, 0, 0.745, 0.715);
}

.ia-settings-group.collapsed .ia-settings-contianer {
  height: 0;
}

.ia-settings-group.expanded .ia-settings-contianer:not(.animating) {
  overflow: visible;
}

.ia-settings-title {
  display: flex;
  justify-content: space-between;
  color: var(--text-strong, var(--text-default));
  display: flex;
  font-weight: 600;
  cursor: default;
  flex: 1;
}

.ia-settings-title:not(.ia-settings-group-title) {
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 24px;
}

.ia-settings-group.collapsible .ia-settings-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  order: 1;
}

.ia-settings-group.collapsible .ia-settings-title::before {
  content: "";
  background-color: var(--app-border-frame);
  height: 2px;
  order: 2;
  flex: 1;
  margin: 0 10px 0 15px;
}

.ia-settings-group.collapsible .ia-settings-title::after {
  content: "";
  -webkit-mask: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxOS4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iQ2FscXVlXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSItOTUwIDUzMiAxOCAxOCIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAtOTUwIDUzMiAxOCAxODsiIHhtiapzcGFjZT0icHJlc2VydmUiPg0KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4NCgkuc3Qwe2ZpbGw6bm9uZTt9DQoJLnN0MXtmaWxsOm5vbmU7c3Ryb2tlOiNGRkZGRkY7c3Ryb2tlLXdpZHRoOjEuNTtzdHJva2UtbWl0ZXJsaW1pdDoxMDt9DQo8L3N0eWxlPg0KPHBhdGggY2xhc3M9InN0MCIgZD0iTS05MzIsNTMydjE4aC0xOHYtMThILTkzMnoiLz4NCjxwb2x5bGluZSBjbGFzcz0ic3QxIiBwb2ludHM9Ii05MzYuNiw1MzguOCAtOTQxLDU0My4yIC05NDUuNCw1MzguOCiaLz4NCjwvc3ZnPg0K")
    center/contian no-repeat;
  mask: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxOS4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iQ2FscXVlXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSItOTUwIDUzMiAxOCAxOCIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAtOTUwIDUzMiAxOCAxODsiIHhtiapzcGFjZT0icHJlc2VydmUiPg0KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4NCgkuc3Qwe2ZpbGw6bm9uZTt9DQoJLnN0MXtmaWxsOm5vbmU7c3Ryb2tlOiNGRkZGRkY7c3Ryb2tlLXdpZHRoOjEuNTtzdHJva2UtbWl0ZXJsaW1pdDoxMDt9DQo8L3N0eWxlPg0KPHBhdGggY2xhc3M9InN0MCIgZD0iTS05MzIsNTMydjE4aC0xOHYtMThILTkzMnoiLz4NCjxwb2x5bGluZSBjbGFzcz0ic3QxIiBwb2ludHM9Ii05MzYuNiw1MzguOCAtOTQxLDU0My4yIC05NDUuNCw1MzguOCiaLz4NCjwvc3ZnPg0K")
    center/contian no-repeat;
  background: var(--text-default);
  height: 20px;
  width: 20px;
  display: inline-block;
  vertical-align: bottom;
  transition: transform 0.3s ease;
  transform: rotate(0);
  order: 3;
}

.ia-settings-group.collapsed .ia-settings-title::after {
  transition: transform 0.3s ease;
  transform: rotate(90deg);
}

.ia-settings-group ~ .ia-settings-group .ia-settings-title {
  margin-top: 30px;
  transition: margin-top 300ms ease;
}

.ia-settings-group.collapsed + .ia-settings-group .ia-settings-title {
  margin-top: 0;
}

.ia-settings-title.ia-settings-group-title {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 14px;
  color: var(--interactive-text-default);
}

.checkbox-item {
  display: flex;
}

.checkbox-item .checkbox-label {
  margin-right: 8px;
}
