.ia-install-modal-guild {
    --guild-size: 32px;

    border-radius: 6px;
    width: var(--guild-size);
    height: var(--guild-size);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-base-low);
    transition: background-color 0.15s ease-out, color 0.15s ease-out;
    overflow: hidden;
    position: relative;
    font-weight: 500;
    line-height: 1.2em;
    white-space: nowrap;
}

.ia-install-modal-guild img {
    width: var(--guild-size);
    height: var(--guild-size);
}

.ia-install-modal-item:hover .ia-install-modal-guild {
    color: var(--white);
    background-color: var(--background-brand);
}

.ia-install-modal-header {
    margin: 0 20px;
    align-items: center;
    gap: 8px;
    display: flex;
}

.ia-install-modal-items {
    margin: 20px;
    background: var(--background-base-lower);
    padding: 12px;
    border-radius: 8px;
}

.ia-install-modal-item {
    padding: 12px;
    color: var(--text-default);
    gap: 12px;
}

.ia-install-modal-items > .ia-install-modal-item:not(:last-child) {
    border-bottom: 1px solid var(--border-subtle);
}

.ia-install-modal-item-leading {
    max-width: 24px;
    min-width: 24px;
    display: flex;
}

.ia-install-modal-item-trialing {
    display: flex;
}

.ia-install-modal-item-content {
    width: 100%;
}

.ia-install-modal-clickable {
    cursor: pointer;
    border-radius: 3px;
    background-color: transparent;
    transition: background-color ease 100ms;
}

.ia-install-modal-clickable:hover {
    color: var(--interactive-text-hover);
    background: var(--ia-overlay-hover, var(--interactive-background-hover));
}

.ia-install-modal-author-svg {
    contain: paint;
}

.ia-install-modal-author-img {
    width: 100%;
    height: 100%;
}

.ia-install-modal-splash {
    height: 197px;
    position: relative;
    display: block;
    overflow: visible;
    margin-bottom: 32px;
}

.ia-install-modal-preview {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.ia-install-modal-preview-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3px 3px 0 0;
}

.ia-install-modal-author {
    position: absolute;
    bottom: -21px;
    left: 12px;
}

.ia-install-modal-author-mask {
    padding: 4px;
    background-color: var(--background-base-low);
}