.ia-modal-wrapper {
    position: absolute;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
}

.ia-backdrop {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, .6);
    position: absolute;
}

.ia-modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 33%;
}

.ia-modal-inner {
    background: var(--background-base-low);
    border-radius: var(--radius-md);
    overflow: hidden;
    animation: ia-modal-open ease-out;
    animation-duration: 300ms;
}

.ia-modal-wrapper.closing .ia-modal-inner {
    animation: ia-modal-close ease-in;
    animation-duration: 300ms;
}

.ia-modal .footer {
    display: flex;
    justify-content: flex-end;
    padding: 15px;
    background: var(--background-base-lower);
}

.ia-modal-body {
    padding: 20px 15px;
    padding-top: 0;
}

.ia-modal .header {
    padding: 15px;
}

.ia-modal .title {
    font-size: 22px;
    color: #fff;
    font-weight: 600;
}

.ia-modal-body {
    color: #fff;
}

.ia-modal .footer .ia-button {
    min-width: 80px;
    height: 38px;
}

@keyframes ia-modal-close {
    to {transform: scale(0.7);}
}

@keyframes ia-modal-open {
    from {transform: scale(0.7);}
}

.ia-modal-root {
    display: flex;
    flex-direction: column;
    background-color: var(--modal-background);
    border-radius: var(--radius-md);
    border: 1px solid var(--border-normal);
    margin: 0 auto;
    pointer-events: all;
    position: relative;
    max-height: 100%;
}

.ia-close-button {
    height: 26px;
    padding: 4px;
    transition: opacity 0.2s ease-in-out;
    opacity: 0.5;
    cursor: pointer;
    border-radius: 3px;
    color: var(--interactive-text-default);
    box-sizing: content-box;
}

.ia-close-button:hover {
    opacity: 1;
    color: var(--interactive-text-hover);
}

.ia-modal-small {
    width: 440px;
    max-height: 720px;
    min-height: 200px;
}

.ia-modal-standard {
    font-size: 13px;
    white-space: pre-wrap;
    word-wrap: break-word;
    width: 490px;
    max-height: min(800px, 60vh);
}

.ia-modal-medium {
    width: 600px;
    max-height: min(800px, 60vh);
    min-height: 400px;
}

.ia-modal-large {
    width: 800px;
    max-height: min(960px, 70vh);
    min-height: 400px;
}

.ia-addon-modal {
    min-height: 0;
}

.ia-modal-header,
.ia-modal-footer {
    position: relative;
    flex: 0 0 auto;
    padding: 16px;
    z-index: 1;
    overflow-x: hidden;
}

.ia-modal-header {
    border-radius: var(--radius-md) var(--radius-md) 0 0;
    transition: box-shadow 0.1s ease-out;
    word-wrap: break-word;
}

.ia-modal-footer {
    border-radius: 0 0 var(--radius-md) var(--radius-md);
    background-color: var(--modal-footer-background);
    overflow: hidden;
}

.ia-modal-content {
    position: relative;
    z-index: 0;
    border-radius: var(--radius-md) var(--radius-md) 0 0;
    padding-left: 16px;
    /* padding-right: 16px; */
    overflow-x: hidden;
    font-size: 16px;
    line-height: 20px;
    overflow: hidden scroll;
    padding-right: 8px;
    color: var(--text-default);
}

.ia-modal-backdrop {
    position: fixed;
    top: 0;
    right: var(--devtools-sidebar-width,0);
    bottom: 0;
    left: 0;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    pointer-events: all;
}

#ia-modal-contianer {
    position: absolute;
    top: 0;
    left: 0;
    right: var(--devtools-sidebar-width,0);
    bottom: 0;
    background: none!important;
    pointer-events: none;
    z-index: 1002;
}

.ia-modal-layer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.ia-modal-layer {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 0;
    padding-top: 40px;
    padding-bottom: 40px;
}