.ia-setting-item:not(.inline) .ia-slider-wrap {
    margin-top: 10px;
}

.ia-slider-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--text-default);
    align-items: center;
    position: relative;
    margin: 0 10px;
}

.ia-slider-wrap.ia-slider-markers {
    padding-bottom: 10px;
    margin-bottom: 10px;
}


.ia-slider-wrap.ia-slider-disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.ia-slider-wrap.ia-slider-disabled > .ia-slider-input,
.ia-slider-wrap.ia-slider-disabled > .ia-slider-label,
.ia-slider-wrap.ia-slider-disabled > .ia-slider-track,
.ia-slider-wrap.ia-slider-disabled > .ia-slider-marker-contianer,
.ia-slider-wrap.ia-slider-disabled > .ia-slider-input::-webkit-slider-thumb {
    pointer-events: none;
}

.ia-slider-label {
    background: black;
    font-weight: 700;
    padding: 5px 7px;
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: -45px;
}

.ia-slider-input:hover + .ia-slider-label {
    opacity: 1;
}

.ia-slider-input {
    /* height: 8px; */
    appearance: none;
    /* min-width: 350px; */
    /* border-radius: 5px; */
    outline: none;
    pointer-events: none;
    position: absolute;
    background: none;
    width: 100%;
    z-index: 2;
}

  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.ia-slider-input::-webkit-slider-thumb {
    appearance: none;
    width: 10px;
    height: 24px;
    top: 50%;
    border-radius: 3px;
    background-color: hsl(0,calc(var(--saturation-factor, 1)*0%),100%);
    border: 1px solid hsl(210,calc(var(--saturation-factor, 1)*2.9%),86.7%);
    -webkit-box-shadow: 0 3px 1px 0 hsla(0,calc(var(--saturation-factor, 1)*0%),0%,.05),0 2px 2px 0 hsla(0,calc(var(--saturation-factor, 1)*0%),0%,.1),0 3px 3px 0 hsla(0,calc(var(--saturation-factor, 1)*0%),0%,.05);
    box-shadow: 0 3px 1px 0 hsla(0,calc(var(--saturation-factor, 1)*0%),0%,.05),0 2px 2px 0 hsla(0,calc(var(--saturation-factor, 1)*0%),0%,.1),0 3px 3px 0 hsla(0,calc(var(--saturation-factor, 1)*0%),0%,.05);
    cursor: ew-resize;
    /* z-index: 3; */
    pointer-events: all;
}

.ia-slider-track {
    height: 8px;
    border-radius: 4px;
    min-width: 350px;
    border-radius: 5px;
    background: hsl(217,calc(var(--saturation-factor, 1)*7.6%),33.5%);
    transition: opacity .2s;
    background-image: linear-gradient(var(--ia-brand), var(--ia-brand));
    background-size: 70% 100%;
    background-repeat: no-repeat;
    cursor: pointer;
    width: 100%;
    z-index: 1;
}

.ia-slider-marker-contianer {
    display: flex;
    width: 98%;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
}

.ia-slider-marker {
    position: absolute;
    transform: translateX(-50%);
    font-size: 12px;
    cursor: pointer;
}

.ia-slider-marker::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 24px;
    background: rgba(255, 255, 255, 0.2);
    top: -26px;
    left: calc(50% - 1px);
    z-index: -1;
}

.ia-setting-item.inline:first-child:has(.ia-slider-wrap) {
    padding-top: 50px;
}
